<article class="row mt-5">
  <div class="col-6 offset-3">
    <form
      action="/rent/<%= apartment.id %>?_method=PUT"
      method="POST"
      class="row g-3 form-edit"
    >
      <h5 class="edit-title">Edit Apartment</h5>
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="apartment[name]"
          value="<%= apartment.name %>"
          required
        />
      </div>
      <div class="col-12">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="apartment[location]"
          value="<%= apartment.location %>"
          required
        />
      </div>
      <div class="col-12">
        <label for="image" class="form-label">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="apartment[image]"
          value="<%= apartment.image %>"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="apartment[price]"
            value="<%= apartment.price %>"
            required
          />
        </div>
      </div>
      <div class="col-md-2">
        <label for="bedrooms" class="form-label">Bedrooms</label>
        <input
          type="number"
          class="form-control"
          id="bedrooms"
          name="apartment[bedrooms]"
          value="<%= apartment.bedrooms %>"
          required
        />
      </div>
      <div class="col-md-2">
        <label for="bathrooms" class="form-label">Bathrooms</label>
        <input
          type="number"
          class="form-control"
          id="bathrooms"
          name="apartment[bathrooms]"
          value="<%= apartment.bathrooms %>"
          required
        />
      </div>
      <div class="col-md-2">
        <label for="sqft" class="form-label">Sqft</label>
        <input
          type="text"
          class="form-control"
          id="sqft"
          name="apartment[sqft]"
          value="<%= apartment.sqft %>"
          required
        />
      </div>
      <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="apartment[description]"
          required
        ><%= apartment.description %></textarea>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      <a href="/rent/<%= apartment.id %> " class="back-home"
        ><i class="fa-solid fa-angle-left left-angle mb-3"></i>Back to
        apartment</a
      >
    </form>
  </div>
</article>
