<article class="conatiner-xl mb-5">
  <h1 class="search-title">Search properties to buy</h1>
  <a href="/buy/new" class="btn new-home mb-3">Add new home</a>
  <form action="/buy/search" method="GET" class="search-form" id="search">
    <div class="form-group">
      <label for="location" class="location"></label>
      <input type="text" class="form-control" id="location" name="location" placeholder="location" />
    </div>
    <div class="form-group">
      <label for="Price" class="price"></label>
      <input type="number" class="form-control" id="price" name="price"  placeholder="price"/>
    </div>
    <button type="submit" class="btn search-home">Search</button>
  </form>

  <div class="homes__container d-flex">
    <% for (let home of homes) { %>
    <li>
      <a href="/buy/<%= home._id %>" class="home__list">
        <div class="card h-100" style="width: 18rem">
          <figure>
            <img
              src="<%= home.image %>"
              class="card-img-top"
              alt="images of homes to buy"
            />
          </figure>
          <div class="card-body">
            <p class="card-price">$<%= home.price %></p>
            <h5 class="card-name"><%= home.name %></h5>
            <p class="card-location"><%= home.location %></p>
            <hr />
          </div>
          <div class="card-info">
            <p class="card-info__text">
              <i class="fa-solid fa-bed bed"></i>
              <%= home.bedrooms %> bed
            </p>
            <p class="card-info__text">
              <i class="fa-solid fa-bath bath"></i>
              <%= home.bathrooms %> bathrooms
            </p>
            <p class="card-info__text">
              <i class="fa-solid fa-ruler sqft"></i>
              <%= home.sqft %> sqft
            </p>
          </div>
        </div>
      </a>
    </li>
    <% } %>
  </div>
</article>
