<article class="container">
  <a href="/buy" class="back-home"
    ><i class="fa-solid fa-angle-left left-angle mb-3"></i>Back to homes</a
  >
  <h1 class="home-title"><%= home.name %></h1>
  <p class="home-location"><%= home.location %></p>
  <figure class="image-container col">
    <img src="<%= home.image %>" class="home-image" alt="<%= home.name %>" />
    <aside class="side-image">
      <img
        src="<%= home.image %>"
        class="home-image-side"
        alt="<%= home.name %>"
      />
      <img
        src="<%= home.image %>"
        class="home-image-side"
        alt="<%= home.name %>"
      />
    </aside>
  </figure>
  <div class="home-info">
    <p class="home-info-text">
      <i class="fa-solid fa-bed bed"></i>
      <%= home.bedrooms %> bed
    </p>
    <p class="home-info-text">
      <i class="fa-solid fa-bath bath"></i>
      <%= home.bathrooms %> bathrooms
    </p>
    <p class="home-info-text">
      <i class="fa-solid fa-ruler sqft"></i>
      <%= home.sqft %> sqft
    </p>
  </div>

  <div class="home-description">
    <h2 class="home-description-title">About this home</h2>
    <p class="home-description-text mb-3"><%= home.description %></p>
  </div>

  <% if(currentUser && home.user.equals(currentUser._id)) { %>
  <div class="button-container mb-5">
    <a href="/buy/<%= home._id %>/edit" class="btn btn-primary">Update</a>
    <form action="/buy/<%= home.id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
  <% } %> <% if(currentUser) { %>
  <form action="/buy/<%= home._id %>/reviews" method="POST">
    <h4 class="review-title">Leave a Review</h4>
    <fieldset class="starability-basic">
      <input
        type="radio"
        id="no-rate"
        class="input-no-rate"
        name="review[rating] "
        value="0"
        checked
        aria-label="No rating."
      />
      <input type="radio" id="first-rate1" name="rating" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>

    <div class="mb-3">
      <label for="body" class="form-label">Review</label>
      <textarea
        name="review[body]"
        id="body"
        cols="30"
        rows="3"
        class="form-control w-50"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>
  <% } %> <% for(let review of home.reviews) { %>
  <div class="card mb-3">
    <div class="mb-3 card-body">
      <h5 class="card-title">By: <%= review.user.username %></h5>
      <p class="starability-result" data-rating="<%= review.rating %>">
        Rated: <%= review.rating %>
      </p>
      <p class="card-text">Review: <%= review.body %></p>
      <% if(currentUser && review.user.equals(currentUser._id)) { %>
      <form
        action="/buy/<%= home._id %>/reviews/<%= review._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
  <% } %>
</article>
