<article class="container">
  <a href="/buy" class="back-home"
    ><i class="fa-solid fa-angle-left left-angle mb-3"></i>Back to homes</a
  >
  <h1 class="home-title"><%= home.name %></h1>
  <p class="home-location"><%= home.location %></p>
  <figure class="image-container col">
    <img src="<%= home.image %>" class="home-image" alt="<%= home.name %>" />
    <aside class="side-image">
      <img
        src="<%= home.image %>"
        class="home-image-side"
        alt="<%= home.name %>"
      />
      <img
        src="<%= home.image %>"
        class="home-image-side"
        alt="<%= home.name %>"
      />
    </aside>
  </figure>
  <div class="home-info">
    <p class="home-info-text">
      <i class="fa-solid fa-bed bed"></i>
      <%= home.bedrooms %> bed
    </p>
    <p class="home-info-text">
      <i class="fa-solid fa-bath bath"></i>
      <%= home.bathrooms %> bathrooms
    </p>
    <p class="home-info-text">
      <i class="fa-solid fa-ruler sqft"></i>
      <%= home.sqft %> sqft
    </p>
  </div>

  <div class="home-description">
    <h2 class="home-description-title">About this home</h2>
    <p class="home-description-text mb-3"><%= home.description %></p>
  </div>

  <div class="button-container mb-5">
    <a href="/buy/<%= home._id %>/edit" class="btn btn-primary">Update</a>
    <form action="/buy/<%= home.id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>

  <form action="/buy/<%= home._id %>/reviews" method="POST">
    <div class="mb-3">
      <label class="form-label" for="rating">Rating</label>
      <input
        type="range"
        class="form-range w-25"
        min="1"
        max="5"
        name="review[rating]"
        id="rating"
      />
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Review</label>
      <textarea
        name="review[body]"
        id="body"
        cols="30"
        rows="3"
        class="form-control w-50"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>

  <% for(let review of home.reviews) { %>
  <div class="card mb-3">
    <div class="mb-3 card-body">
      <h5 class="card-title">Rating: <%= review.rating %></h5>
      <p class="card-text">Review: <%= review.body %></p>
      <form
        action="/buy/<%= home._id %>/reviews/<%= review._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% } %>
</article>
